/* CSS Document */
body{
	font-size:12px; font-family:Arial; background-color:#fff; 
		margin:5px; line-height:1.6em; 
		-webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.2);
		box-shadow: 0 0 0.5em rgba(0,0,0,0.2);
		color:#444;}
	
	a {color:#0181bc;}
	p {margin:0 0 1em;}
	h1 {line-height:1.25em;}
	h2, h3 {margin:0 0 0.5em; font-size:1.2em;}
	h3 {font-size:1em}
	pre, code {font-size:0.7em; background-color:#eee; color:#000; font-family: verdana, monospace;}
	code {padding:0.2em}
	pre {padding:1em; white-space: pre-line;}
	#first ~ h2 {margin-top:2em}
	.small {font-size:0.75em; line-height:1.5em;}
	hr {border:none; height:0; border-top:solid 1px #ccc; margin:1.5em 0;
}
fieldset {
	border:1px solid #999;
	border-radius:5px;
	box-shadow:0 0 8px #999;
}
legend {
    background:#fff;
}
.container{
    width: 100%;
    min-height: 480px;
}
#top_menu {
	height: 30px;
	width: 100%;border-radius : 3px;
	moz-border-radius : 3px;
	background-color: #84B34E;
}
#left_menu {
	min-height:560px;
	width: 14%;
	text-align: left;
	float: left;
	margin-right: 1%;border-radius : 3px;
	moz-border-radius : 3px;
	background-color: #F4F4F4;
}
#content_area {
	min-height:560px;
	width: 68%;
	float: left;
	border-radius : 3px;
	moz-border-radius : 3px;
	background-color: #ffffff;
	margin-right: 1%;
	margin-left: 1%;
}
#right_menu {
	min-height:560px;
	width: 14%;
	text-align: left;
	float: right;
	margin-left: 1%;border-radius : 3px;
	moz-border-radius : 3px;
	background-color: #F4F4F4;
}
.footer {
	height: 20px;
	width: 100%;
	text-align: center;border-radius : 3px;
	moz-border-radius : 3px;
	background-color: #EAE7D7;
}
/*Top Navigation Menu*/
#top_menu ul,
#top_menu li,
#top_menu span,
#top_menu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#top_menu {
  height: 30px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #84B34E;
  background: -moz-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eee9f0));
  background: -webkit-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  background: linear-gradient(top, #fefefe 0%, #eee9f0 100%);
  border-bottom: 2px solid #84B34E;
  width: auto;
}
#top_menu:after,
#top_menu ul:after {
  content: '';
  display: block;
  clear: both;
}
#top_menu a {
	background: #84B34E;
	background: -moz-linear-gradient(top, #fefefe 0%, #EAE7D7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #EAE7D7));
	background: -webkit-linear-gradient(top, #fefefe 0%, #EAE7D7 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #EAE7D7 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #EAE7D7 100%);
	background: linear-gradient(top, #fefefe 0%, #EAE7D7 100%);
	color: #84B34E;
	display: inline-block;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	padding-top: 0;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 15px;
}
#top_menu ul {
  list-style: none;
}
#top_menu > ul {
  float: left;
}
#top_menu > ul > li {
  float: left;
}
#top_menu > ul > li > a {
  color: #000;
  font-size: 12px;
}
#top_menu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #84B34E;
  margin-left: -10px;
}
#top_menu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#top_menu > ul > li.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #84B34E;
  margin-left: -10px;
}
#top_menu > ul > li.active > a {
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  background: #EAE7D7;
  background: -moz-linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EAE7D7), color-stop(100%, #EAE7D7 ef));
  background: -webkit-linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
  background: -o-linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
  background: -ms-linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
  background: linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
}
#top_menu > ul > li:hover > a {
  background: #EAE7D7;
  background: -moz-linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EAE7D7), color-stop(100%, #EAE7D7 ef));
  background: -webkit-linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
  background: -o-linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
  background: -ms-linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
  background: linear-gradient(top, #EAE7D7 0%, #EAE7D7 ef 100%);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
#top_menu .has-sub {
  z-index: 1;
}
#top_menu .has-sub:hover > ul {
  display: block;
}
#top_menu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#top_menu .has-sub ul li {
  *margin-bottom: -1px;
}
#top_menu .has-sub ul li a {
	background: #84B34E;
	filter: none;
	font-size: 11px;
	display: block;
	line-height: 120%;
	padding: 10px;
	color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #EAE7D7;
}
#top_menu .has-sub ul li:hover a {
	background-color: #4C8013;
}
#top_menu .has-sub .has-sub:hover > ul {
  display: block;
}
#top_menu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#top_menu .has-sub .has-sub ul li a {
	background-color: #006633;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #006633;
}
#top_menu .has-sub .has-sub ul li a:hover {
	background-color: #009B4E;
}

/*Left Menu Bar*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset 'UTF-8';
/* Base Styles */
#left_menu,
#left_menu ul,
#left_menu li,
#left_menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  position: relative;
}
#left_menu {
	border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	border-radius: 3px;
	width: 15%;
}
#left_menu a {
  line-height: 1.3;
}
#left_menu > ul > li:first-child {
  background: #EAE7D7;
  background: -moz-linear-gradient(#EAE7D7 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EAE7D7), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#EAE7D7 0%, #45463d 100%);
  background: linear-gradient(#EAE7D7 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#left_menu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#left_menu > ul > li:first-child > a > span {
  padding: 0;
}
#left_menu > ul > li:first-child:hover {
  background: #EAE7D7;
  background: -moz-linear-gradient(#EAE7D7 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EAE7D7), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#EAE7D7 0%, #45463d 100%);
  background: linear-gradient(#EAE7D7 0%, #45463d 100%);
}
#left_menu > ul > li {
  background: #84B34E;
  background: -moz-linear-gradient(#84B34E 0%, #4C8013 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #84B34E), color-stop(100%, #4C8013));
  background: -webkit-linear-gradient(#84B34E 0%, #4C8013 100%);
  background: linear-gradient(#84B34E 0%, #4C8013 100%);
}
#left_menu > ul > li:hover {
  background: #84B34E;
  background: -moz-linear-gradient(#84B34E 0%, #EAE7D7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #84B34E), color-stop(100%, #EAE7D7));
  background: -webkit-linear-gradient(#84B34E 0%, #EAE7D7 100%);
  background: linear-gradient(#84B34E 0%, #EAE7D7 100%);
}
#left_menu > ul > li > a {
  font-size: 12px;
  display: block;
  background: url(images/pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #EAE7D7;
  border-top: none;
  text-shadow: 0 -1px 1px #84B34E;
}
#left_menu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#left_menu > ul > li > a:hover {
  text-decoration: none;
}
#left_menu > ul > li.active {
  border-bottom: none;
}
#left_menu > ul > li.has-sub > a span {
  background: url(images/icon_plus.png) 96% center no-repeat;
}
#left_menu > ul > li.has-sub.active > a span {
  background: url(images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#left_menu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#left_menu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #EAE7D7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #EAE7D7));
  background: -webkit-linear-gradient(#f7f7f7 0%, #EAE7D7 100%);
  background: linear-gradient(#f7f7f7 0%, #EAE7D7 100%);
}
#left_menu ul ul li:last-child {
  border-bottom: none;
}
#left_menu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 12px;
  font-weight: normal;
}
#left_menu ul ul a:before {
  content: '»';
  position: absolute;
  left: 10px;
  color: #84B34E;
}
#left_menu ul ul a:hover {
  color: #84B34E;
}

/*Right Menu Bar*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset 'UTF-8';
/* Base Styles */
#right_menu,
#right_menu ul,
#right_menu li,
#right_menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  position: relative;
}
#right_menu {
	border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	border-radius: 3px;
	width: 15%;
}
#right_menu a {
  line-height: 1.3;
}
#right_menu > ul > li:first-child {
  background: #EAE7D7;
  background: -moz-linear-gradient(#EAE7D7 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EAE7D7), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#EAE7D7 0%, #45463d 100%);
  background: linear-gradient(#EAE7D7 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#right_menu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#right_menu > ul > li:first-child > a > span {
  padding: 0;
}
#right_menu > ul > li:first-child:hover {
  background: #EAE7D7;
  background: -moz-linear-gradient(#EAE7D7 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EAE7D7), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#EAE7D7 0%, #45463d 100%);
  background: linear-gradient(#EAE7D7 0%, #45463d 100%);
}
#right_menu > ul > li {
  background: #84B34E;
  background: -moz-linear-gradient(#84B34E 0%, #4C8013 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #84B34E), color-stop(100%, #4C8013));
  background: -webkit-linear-gradient(#84B34E 0%, #4C8013 100%);
  background: linear-gradient(#84B34E 0%, #4C8013 100%);
}
#right_menu > ul > li:hover {
  background: #84B34E;
  background: -moz-linear-gradient(#84B34E 0%, #EAE7D7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #84B34E), color-stop(100%, #EAE7D7));
  background: -webkit-linear-gradient(#84B34E 0%, #EAE7D7 100%);
  background: linear-gradient(#84B34E 0%, #EAE7D7 100%);
}
#right_menu > ul > li > a {
  font-size: 12px;
  display: block;
  background: url(images/pattern.png) top left repeat;
  color: #ffffff;
	  border: 1px solid #EAE7D7;
  border-top: none;
  text-shadow: 0 -1px 1px #84B34E;
}
#right_menu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#right_menu > ul > li > a:hover {
  text-decoration: none;
}
#right_menu > ul > li.active {
  border-bottom: none;
}
#right_menu > ul > li.has-sub > a span {
  background: url(images/icon_plus.png) 96% center no-repeat;
}
#right_menu > ul > li.has-sub.active > a span {
  background: url(images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#right_menu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#right_menu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #EAE7D7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #EAE7D7));
  background: -webkit-linear-gradient(#f7f7f7 0%, #EAE7D7 100%);
  background: linear-gradient(#f7f7f7 0%, #EAE7D7 100%);
}
#right_menu ul ul li:last-child {
  border-bottom: none;
}
#right_menu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 12px;
  font-weight: normal;
}
#right_menu ul ul a:before {
  content: '»';
  position: absolute;
  left: 10px;
  color: #84B34E;
}
#right_menu ul ul a:hover {
  color: #84B34E;
}
/*Table CSS*/
table.gridtable {
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
/* ----------------------------------------------  Reset form elements ---------------------------------------------- */
	
	input, select, textarea {
		margin:0; padding:0; font-size:0.85em; outline:none;
		font-family:inherit;	
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */
		box-sizing:border-box;}
		
/* ----------------------------------------------  Inputs, textareas and selects  ---------------------------------------------- */


	input[type="text"], input[type="password"], textarea, select, div.styled, input[type="file"] {  
		width:12em; border-radius:2px; border: solid 1px #ccc; padding:0.4em;}
	
	div.styled, select, input[type="submit"], input[type="button"], 
	input[type="file"]:after {
		background: white url(formelements-select.png) no-repeat center right;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);}	
	
	input[type="text"], textarea, input[type="file"] { 
		background-color: #f5f5f5;
		-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
		box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);}
	
		.ie9 input[type="text"] { line-height:normal; } /* Get the stuff to line up right */
	
	textarea { width:20em; height:5em; }
	
/* ----------------------------------------------  Select menu  ---------------------------------------------- */
	
	/* For IE and Firefox */

	div.styled { overflow:hidden; padding:0; margin:0; }
		
		.ie7 div.styled {border:none;}

	div.styled select {	
		width:115%; background-color:transparent; background-image:none;
		-webkit-appearance: none; border:none; box-shadow:none;}
		
		.ie7 div.styled select {
			width:100%; background-color:#fff; border: solid 1px #ccc; 
			padding:0.3em 0.4em;}	
	
/* ----------------------------------------------  File field  ----------------------------------------------  */

	/* Webkit Only */
	
	input[type="file"] { 
		position: relative; 
		-webkit-appearance: none;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	width: 40%;	padding:0;}
		
	input[type=file]::-webkit-file-upload-button {
		width: 0; padding: 0; margin: 0;-webkit-appearance: none; border: none;}	
		
	input[type="file"]:after {
		content: 'Upload File';
		margin:0 0 0 0.5em;
		display: inline-block; left: 100%; position: relative;
		background:white url(formelements-select.png) no-repeat center left;
		padding:0.3em 0.5em; border: solid 1px #ccc !important;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		border-radius:4px;}	
		
		
		input[type="file"]:active:after {box-shadow:none;}
	
	
/* ----------------------------------------------  Checkboxes and Radio inputs  ----------------------------------------------  */	
		
	

/* ---------------------------------------------- Form Submit and Next buttons ---------------------------------------------- */	

	input[type="submit"], 
	input[type="button"] { 
		padding:0.5em 1em; line-height:1em; cursor:pointer;
		border-radius:4px; color:#000; font-weight:bold; font-size:inherit;
		border:solid 1px #ccc;	box-shadow:0 1px 5px rgba(0,0,0,0.2);
		background-position: center bottom;}
		
		/* Gradient Generator by : http://www.colorzilla.com/gradient-editor/ */
		
	input[type="submit"]:active, 
	input[type="button"]:active {-webkit-box-shadow: none; box-shadow:none;}
		
		/* IE7 needs you to change the background to transparent when using image background for submit buttons */	


